<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Styling DataTable - Stack Responsive Bootstrap 4 Admin Template</title>
    <link rel="apple-touch-icon" href="/assets/admin/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/admin/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
   
  </head>
  <body data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" class="vertical-layout vertical-menu-modern 2-columns   menu-expanded fixed-navbar">

     <!-- navbar-fixed-top-->
     <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
          <div class="navbar-header">
              <ul class="nav navbar-nav">
                  <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                      <a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs">
                          <i class="ft-menu font-large-1"></i>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="index.html" class="navbar-brand">
                          <img alt="stack admin logo" src="/assets/admin/app-assets/images/logo/stack-logo-light.png" class="brand-logo">
                          <h2 class="brand-text">Stack</h2>
                      </a>
                  </li>
                  <li class="nav-item hidden-sm-down float-xs-right">
                      <a data-toggle="collapse" class="nav-link modern-nav-toggle">
                          <i data-ticon="ft-toggle-right" class="toggle-icon ft-toggle-right font-medium-3 white"></i>
                      </a>
                  </li>
                  <li class="nav-item hidden-md-up float-xs-right">
                      <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                          <i class="fa fa-ellipsis-v"></i>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="navbar-container content container-fluid">
              <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                  <ul class="nav navbar-nav">
                      
                      <li class="nav-item hidden-sm-down">
                          <a href="#" class="nav-link nav-link-expand">
                              <i class="ficon ft-maximize"></i>
                          </a>
                      </li>
                      <li class="nav-item nav-search">
                          <a href="#" class="nav-link nav-link-search">
                              <i class="ficon ft-search"></i>
                          </a>
                          <div class="search-input">
                              <input type="text" placeholder="Explore Stack..." class="input">
                          </div>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav float-xs-right">
                      <li class="dropdown dropdown-language nav-item">
                          <a id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link">
                              <i class="flag-icon flag-icon-gb"></i>
                              <span class="selected-language"></span>
                          </a>
                          <div aria-labelledby="dropdown-flag" class="dropdown-menu">
                              <a href="#" class="dropdown-item">
                                  <i class="flag-icon flag-icon-gb"></i> English</a>
                              <a href="#" class="dropdown-item">
                                  <i class="flag-icon flag-icon-fr"></i> French</a>
                              <a href="#" class="dropdown-item">
                                  <i class="flag-icon flag-icon-cn"></i> Chinese</a>
                              <a href="#" class="dropdown-item">
                                  <i class="flag-icon flag-icon-de"></i> German</a>
                          </div>
                      </li>
                      <li class="dropdown dropdown-notification nav-item">
                          <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                              <i class="ficon ft-bell"></i>
                              <span class="tag tag-pill tag-default tag-danger tag-default tag-up">5</span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                              <li class="dropdown-menu-header">
                                  <h6 class="dropdown-header m-0">
                                      <span class="grey darken-2">Notifications</span>
                                      <span class="notification-tag tag tag-default tag-danger float-xs-right m-0">5 New</span>
                                  </h6>
                              </li>
                              <li class="list-group scrollable-container">
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left valign-middle">
                                              <i class="ft-plus-square icon-bg-circle bg-cyan"></i>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">You have new order!</h6>
                                              <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">30 minutes ago</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left valign-middle">
                                              <i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading red darken-1">99% Server load</h6>
                                              <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Five hour ago</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left valign-middle">
                                              <i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                                              <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Today</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left valign-middle">
                                              <i class="ft-check-circle icon-bg-circle bg-cyan"></i>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Complete the task</h6>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last week</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left valign-middle">
                                              <i class="ft-file icon-bg-circle bg-teal"></i>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Generate monthly report</h6>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last month</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li class="dropdown-menu-footer">
                                  <a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all notifications</a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown dropdown-notification nav-item">
                          <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                              <i class="ficon ft-mail"></i>
                              <span class="tag tag-pill tag-default tag-warning tag-default tag-up">3</span>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                              <li class="dropdown-menu-header">
                                  <h6 class="dropdown-header m-0">
                                      <span class="grey darken-2">Messages</span>
                                      <span class="notification-tag tag tag-default tag-warning float-xs-right m-0">4 New</span>
                                  </h6>
                              </li>
                              <li class="list-group scrollable-container">
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left">
                                              <span class="avatar avatar-sm avatar-online rounded-circle">
                                                  <img src="/assets/admin/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                                                  <i></i>
                                              </span>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Margaret Govan</h6>
                                              <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start the project.</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Today</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left">
                                              <span class="avatar avatar-sm avatar-busy rounded-circle">
                                                  <img src="/assets/admin/app-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
                                                  <i></i>
                                              </span>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Bret Lezama</h6>
                                              <p class="notification-text font-small-3 text-muted">I have seen your work, there is</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Tuesday</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left">
                                              <span class="avatar avatar-sm avatar-online rounded-circle">
                                                  <img src="/assets/admin/app-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
                                                  <i></i>
                                              </span>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Carie Berra</h6>
                                              <p class="notification-text font-small-3 text-muted">Can we have call in this week ?</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Friday</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                                  <a href="javascript:void(0)" class="list-group-item">
                                      <div class="media">
                                          <div class="media-left">
                                              <span class="avatar avatar-sm avatar-away rounded-circle">
                                                  <img src="/assets/admin/app-assets/images/portrait/small/avatar-s-6.png" alt="avatar">
                                                  <i></i>
                                              </span>
                                          </div>
                                          <div class="media-body">
                                              <h6 class="media-heading">Eric Alsobrook</h6>
                                              <p class="notification-text font-small-3 text-muted">We have project party this saturday night.</p>
                                              <small>
                                                  <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">last month</time>
                                              </small>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li class="dropdown-menu-footer">
                                  <a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all messages</a>
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown dropdown-user nav-item">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                              <span class="avatar avatar-online">
                                  <img src="/assets/admin/app-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                                  <i></i>
                              </span>
                              <span class="user-name">
                              </span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a href="#" class="dropdown-item">
                                  <i class="ft-user"></i> Edit Profile</a>
                              <a href="#" class="dropdown-item">
                                  <i class="ft-mail"></i> My Inbox</a>
                              <a href="#" class="dropdown-item">
                                  <i class="ft-check-square"></i> Task</a>
                              <a href="#" class="dropdown-item">
                                  <i class="ft-message-square"></i> Chats</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item">
                                  <i class="ft-power"></i> Logout</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>

  <!-- ////////////////////////////////////////////////////////////////////////////-->


  <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
      <div class="main-menu-content">
          <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
              <!-- <li class=" navigation-header">
                  <span>Apps</span>
                  <i data-toggle="tooltip" data-placement="right" data-original-title="Apps" class=" ft-minus"></i>
              </li> -->
              <li class=" nav-item">
                  <a href="/nv1">
                      <i class="ft-user"></i>
                      <span data-i18n="" class="menu-title">Nguyện vọng 1</span>
                  </a>
              </li>
              <li class=" nav-item">
                  <a href="/nv2">
                      <i class="ft-message-square"></i>
                      <span data-i18n="" class="menu-title">Nguyện vọng 2</span>
                  </a>
              </li>
              <li class=" nav-item">
                  <a href="/nganh">
                      <i class="ft-airplay"></i>
                      <span data-i18n="" class="menu-title">Ngành</span>
                  </a>
              </li>
              <li class=" nav-item">
                  <a href="/chitieu">
                      <i class="ft-printer"></i>
                      <span data-i18n="" class="menu-title">Chỉ tiêu</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>

    <div class="app-content content container-fluid">
      <div class="content-wrapper">
=======
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Form wizard (using tabs) - Bootsnipp.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">

>>>>>>> 2ee11a57164c75be212473d4d4693790306358da
        
        .wizard {
            margin: 20px auto;
            background: #fff;
        }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0;
            padding-left: 400px;
        }

        .wizard>div.wizard-inner {
            position: relative;
        }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 20%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs>li.active>a,
        .wizard .nav-tabs>li.active>a:hover,
        .wizard .nav-tabs>li.active>a:focus {
            color: #555555;
            cursor: default;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }

        span.round-tab i {
            color: #555555;
        }

        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #5bc0de;

        }

        .wizard li.active span.round-tab i {
            color: #5bc0de;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs>li {
            width: 25%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #5bc0de;
        }

        .wizard .nav-tabs>li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

        .wizard .nav-tabs>li a:hover {
            background: transparent;
        }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }

        @media( max-width: 585px) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs>li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body >
        <% if (msg != ""){ %>
            <div class="alert alert-success"><%=msg%></div>
        <%  } %>
    
    <div class="container">
        <div class="row">
            <h2><center>HỆ TRỢ GIÚP QUYẾT ĐỊNH RA ĐIỂM CHUẨN</center></h2>
        </div>
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-folder-open"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- <form role="form"> -->
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h2>Nhập dữ liệu: </h2>
                                <hr>
                                <form enctype="multipart/form-data" method="post" action="/uploadcsv">
                                    <h4>Nhập bảng ngành (Mã ngành, tên ngành, chỉ tiêu, điểm sàn của bộ giáo dục) </h4>
                                    <input type="file" name="bangnganh"  <br><hr>
                                    <h4>Nhập bảng điểm học sinh</h4>
                                    <input type="file" name="bangdiem1"<br><hr>
                                    <h4>Nhập bảng tỷ lệ đi học thực hàng năm theo thang điểm</h4>
                                    <input type="file" name="bangdihoc"<br><hr>
                                    <h4>Nhập tỷ lệ vượt chỉ tiêu tối đa cho phép </h4>
                                    <input type="number" name="vuotchitieu">
                                    <input type="submit" value="Submit">

                                </form>
                                    
                                <ul class="list-inline pull-right">
                                    <li>
                                        <button type="button" class="btn btn-primary next-step">Tiếp tục</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Complete</h3>
                                <p>You have successfully completed all steps.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    <!-- </form> -->
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>
</body>

</html>